# bibliotecas instaladas

dash
dash-bootstrap-components
pandas
XlsxWriter
dash-table
dash-ag-grid
sqlalchemy
oracledb
ldap3>=2.9
python-dotenv
# para rodar com docker no linux
gunicorn>=21.2
# para rodar fora do docker em Windows (opcional)
waitress>=2.1


Flask-Caching>=1.10.1
APScheduler>=3.8.0
dash-html-components

dash dash-bootstrap-components dash-core-components dash-html-components dash-table