/* =============================
   ESTILOS GERAIS 
   ============================= */

   body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
}

/* =============================
   EFEITOS NOS BOTÕES 
   ============================= */

#consultar-button:hover {
    background-color: #e89d18; /* Tom mais escuro */
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

#limpar-button:hover {
    background-color: #3d5260; /* Tom mais escuro */
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.nav-button:hover {
    background-color: white !important;
    color: #35546F !important;
    border-color: #35546F !important;
}


/* =============================
   ESTILOS PARA RESPONSIVIDADE 
   ============================= */

/* Caso haja regras específicas para outros elementos responsivos, insira-as aqui */

/* =============================
   ESTILOS PARA LAYOUT INICIAL
   ============================= */

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Efeito hover para botões da home */
.btn-home:hover {
    background-color: white !important;
    color: #343a40 !important;
    border: 2px solid #343a40 !important;
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
